.hero-wrapper-main {
  background-color: var(--first-brand-color);
}
.hero {
  text-align: center;
  padding: 10rem 0;
}
.hero .title {
  max-width: 60rem;
  line-height: 1;
  margin: 0 auto 1rem;
}
.hero .text {
  max-width: 30rem;
  margin: 0 auto 2rem;
}
.hero-block {
  margin-bottom: 3rem;
}
.hero-img {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-height: 40rem;
  object-fit: cover;
  border-radius: 5rem;
}
.hero-btn {
  display: flex;
  align-items: center;
}
.hero-btn svg {
  margin-left: 2rem;
}

.policy {
  padding: 10rem 0;
  text-align: center;
}
.policy .sub-title {
  margin-bottom: 8rem;
}
.policy-item-title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.policy-item .text {
  margin: 0 auto 1rem;
  max-width: 40rem;
}
.policy-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.policy .hero-btn {
  background-color: transparent;
  border: none;
}

.phrase__wrapper {
  background-color: var(--first-brand-color);
}
.phrase {
  padding: 12rem 0;
  text-align: center;
}
.phrase .title {
  margin-bottom: 2rem;
}

.contacts {
  padding: 10rem 0;
  text-align: center;
}
.contacts-block {
  margin-bottom: 8rem;
}
.contacts .sub-title {
  margin-bottom: 1rem;
}
.contacts-block .text {
  margin: 0 auto 1rem;
  max-width: 40rem;
}
.contacts-span {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 0.5rem;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.question {
  padding: 10rem 0;
  text-align: center;
}
.question .sub-title {
  margin-bottom: 8rem;
}
.question-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.question-sub-title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-transform: capitalize;
  display: block;
  margin: 0 auto 0.5rem;
}
.question-item .text {
  max-width: 60rem;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .hero {
    text-align: left;
    padding: 5rem 10rem;
  }
  .hero .title {
    margin: 0 0 5rem 0;
  }
  .hero .title::first-letter {
    color: var(--sub-text-color);
  }
  .hero-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5rem;
  }
  .hero-img {
    border-radius: 10rem;
  }
  .hero .hero-btn {
    margin: 0 10rem 0 0;
  }
  .hero .text {
    margin: 0;
  }

  .policy {
    text-align: left;
    padding: 5rem 10rem;
  }
  .policy-list {
    flex-direction: row;
    justify-content: space-around;
  }
  .policy-item-title {
    color: var(--sub-text-color);
    position: relative;
    background-color: var(--first-brand-color);
    margin-left: 2rem;
    position: relative;
    z-index: 3;
    width: fit-content;
    padding: 0 2rem;
  }
  .policy-item {
    position: relative;
  }
  .policy-item::after {
    position: absolute;
    display: block;
    content: '';
    width: calc(100% + 4rem);
    height: calc(100% + 1rem);
    border: 0.2rem solid var(--second-brand-color);
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 3rem;
    pointer-events: none;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 10rem;
  }
  .contacts .btn {
    margin-left: 0;
  }
  .contacts-block {
    margin: 0;
  }
  .contacts-item {
    background-color: var(--third-brand-color);
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
  }
  .contacts-span {
    margin: 0 3rem 0 0;
    color: var(--sub-text-color);
  }
  .contacts-item .text {
    color: var(--sub-text-color);
  }

  .question {
    padding: 10rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .question .sub-title {
    margin: 0;
  }
  .question-sub-title {
    border: 0.2rem solid var(--second-brand-color);
    padding: 1.5rem 3rem;
     border-radius: 3rem;
     margin-bottom: 2rem;
     color: var(--sub-text-color);
  }
}
