:root {
  --main-bg-color: #fff;
  --sub-bg-color: #121212;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #414141;
  --second-brand-color: #f15047;

  --main-font: 'Poppins';
  --title-font: 'Poppins Bold';
  --main-title-font: 'Poppins Black';

  font-size: 62.5%;
}
